<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hamid_pc.campusrecruitmentsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <activity android:name=".AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StudentListActivity"
            android:noHistory="true">
        </activity>

        <activity android:name=".StudentProfileActivity">
        </activity>

        <activity
            android:name=".ProfileDataActivity"
            android:noHistory="true">
        </activity>


        <activity
            android:name=".StudentProfileCreationActivity"
            android:noHistory="true"></activity>

        <activity
            android:name=".OrganizationProfileCreationActivity"
            android:noHistory="true"></activity>

        <activity android:name=".OrganizationOptionChooserActivity"></activity>

        <activity android:name=".VacancyCreationActivity"></activity>

        <activity android:name=".VacancyListActivity"></activity>

        <activity android:name=".VacancyDetailActivity"></activity>

        <activity android:name=".AdminActivity">
        </activity>

        <activity android:name=".OrganizationListActivity"></activity>

        <activity android:name=".OrganizationDetailActivity"></activity>

        <activity android:name=".ApplicantListActivity"></activity>

        <activity
            android:name=".StudentVacancyListActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>
