<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hamid_pc.campusrecruitmentsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <activity android:name=".AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StudentListActivity">
        </activity>

        <activity android:name=".StudentProfileActivity">
        </activity>

        <activity android:name=".ProfileDataActivity">
        </activity>


        <activity android:name=".StudentProfileCreationActivity"></activity>

        <activity android:name=".OrganizationProfileCreationActivity"></activity>

        <activity android:name=".OrganizationOptionChooserActivity"></activity>

        <activity android:name=".VacancyCreationActivity"></activity>

        <activity android:name=".VacancyListActivity"></activity>

        <activity android:name=".VacancyDetailActivity"></activity>

        <activity android:name=".AdminActivity">
        </activity>

    </application>

</manifest>
